# operator
- it is keyword or special symbol that perfoms operation on values & variables

**Types of Operators**
- Arithmetic Operator
- Assignment Operator
- Comparison(Relational) Operator
- Logical Operator
- Membership Operator
- Identity Operator

**1. Arithmetic Operator**
- use to perform mathematical operation
- +, _ , * , / , %(moduluo) , //(floor divison) , **(exponents)

In [1]:
7+5

12

In [2]:
4-5

-1

In [3]:
3*9

27

In [4]:
6/2   # div : always gives output in float

3.0

In [3]:
9//4 #floor div: gives the quotient value ; here  9 is divident and 4 is divisor ; 2 is quotient and  1 is remaining value

2

In [6]:
9%4  # Modulo : it gives the remainder

1

In [7]:
2**2   #exponent : to calculate the power like square , cube, forth root

4

In [11]:
(5*8)    #paranthesis

40

**in the arithmetic operation, the boolean values automatically coverts to int i.e, True = 1 , False = 0**

In [11]:
True + True

2

In [12]:
False + False

0

**2.Assignment Operator**
- used to assign the value to variables
- = , += , -= , /= , %= , //= , **=
- RHS will execute first and the LHS

In [24]:
y= 5
y= y+4
print(y)

9

In [25]:
y=5
y+=4
print(y)

9

In [26]:
y=10
y*=4
print(y)

40

In [27]:
y=10
y/=4
print(y)

2.5

In [30]:
y=6
y**=2
print(y)

36

**3.Comparison(Relational) Operator**
- It gives o/p as bolean only (True or False)
- Used to compare two values only not the data 
- ==(equal to), !=(not equal to), >, < , <= , >=

In [31]:
5==5

True

In [32]:
5==3

False

In [33]:
5!=5   #as they r same values it shows the false coz != this for not equal to

False

In [35]:
8>9

False

In [39]:
8.9<9.0

True

In [37]:
19>=10

True

**4.Logical Oprator**
- will gives o/p as boolean only.
- and, or,not
  
    **Logical operator Precedence**
  - Logical NOT
  - Logical AND
  - Logical OR

In [1]:
5<3 and 2<3                   # all conditions needs to be true in the and opertor

False

In [46]:
5<4 or 2<3                    #min one condition should be true

True

In [53]:
# T or F and T         ( here as per operators precedence will fisrt focus on comparison operator)
# T or F               (as per Logical Operator prece it fisrt focus on AND ope. and then Or Ope.)
# T                    ( as in Or oper. min one cond is true)
4>3 or  2>5 and 5<6

True

In [57]:
# b = false or not True and true 
# b = false or False and True
# b = false or False 
#b = False
b = False or not (5>2) and True 
print(b)

False

**5.Identity Operator**
- to check if two values or variables are indicating the same object
- Return the o/p as boolean
- is, is not

In [58]:
a= 3
b=3 
a is b

True

In [59]:
print (id(a))

140705995176440

In [60]:
print (id(b))      # both id are matched

140705995176440

In [66]:
x= 6
y=8
x is not y

True

In [68]:
print (id(x))

140705995176536

In [67]:
print (id(y))  # ids are differnt

140705995176600

**6.Membership Operators**
- used to check whether a value or variable are in sequence(str,list,tuple,set & dict)
- returns o/p as boolean
- in , not in

In [71]:
a = "venkatesh"
"tes" in a

True

In [72]:
a = "venkatesh"
"ter" in a

False