# Set Methods

**1.set.add()** 
- add a single value only

In [1]:
s ={1, 2, 2.5, 3, 4, 'Komal', 5, 7}  
s.add(89)
print(s)

{1, 2.5, 3, 2, 4, 5, 7, 89, 'Komal'}

In [2]:
s.add("Shelar")
print(s)

{1, 2.5, 3, 2, 4, 5, 7, 'Shelar', 89, 'Komal'}

**2.set.update()** 
- adds muliple values

In [24]:
s ={1, 2, 4, }                           #whille assigning multiple items need to assign them in a list 
s.update(["Shelar", False , 8.4, 23])
print(s)

{False, 1, 2, 4, 8.4, 23, 'Shelar'}

**3.set.discard()** 
- used to removing particular value
- if mentioned value is out of set ; will show the set as it is

In [25]:
s ={1, 2, 2.5, 3, 4, 7,8, "Komal"} 
s.discard("Shelar")
print(s)

{1, 2.5, 3, 2, 4, 'Komal', 7, 8}

**4.set.remove()** 
- used to removing perticular value
- if mentioned value is out of set ; will show the error.

In [29]:
s ={1, 2, 2.5, 3, 4, 'Komal', 5, 7} 
s.remove("Komal")
print(s)

{1, 2.5, 3, 2, 4, 5, 7}

**5.set.clear()**

In [39]:
s ={1, 2, 2.5, 3, 4, 'Komal', 5, 7} 
del s

**6.set.copy()** 
- will copy the object as a shell means, we can dupliacte but the changes in second object will not affect on first 
- it create the sep object after copy.

In [45]:
original_object ={1, 2, 2.5, 3, 4, 'Komal', 5, 7} 
print(id(original_object))
new_object = s.copy()
print(new_object) 
print(id(new_object))

2883241567264
{1, 2.5, 3, 2, 4, 'Komal', 5, 7}
2883241565472

In [46]:
new_object.add(23)              # will ad the value in new object only 
print(new_object)

{1, 2.5, 3, 2, 4, 'Komal', 5, 7, 23}

In [47]:
print(original_object)                 # original object will remain the same

{1, 2.5, 3, 2, 4, 'Komal', 5, 7}

# Set Operations

**1.set.union()** 
- just concetanation it will add the elements of set but not using + sign
- unique elemts will considered only not the duplicate ones

In [49]:
a ={2,4,6,8} 
b = {4,5,6,7,8} 
c= a.union(b) 
print(c)

{2, 4, 5, 6, 7, 8}

**2.set.intersection()** 
- it will create a new objcet with  common elements of both set
- items will consider for onces only.

In [3]:
a ={2,4,6,8} 
b = {4,5,6,7,8} 
c= a.intersection(b) 
print(c)

{8, 4, 6}

**3.set.isdisjoint()** 
- returns boolean value if set are having intersection or not. (common elements in between)
- no intersection --> True
- intersection --> false

In [53]:
s1 ={1,2,3}
s2 = {2,3,4,5}
s3={1,7,8,9} 

s1.isdisjoint(s2)

False

In [54]:
s2.isdisjoint(s3)

True

In [55]:
s1.isdisjoint(s3)

False

**4.set.difference()** 

- if there are comon elements between two sets and we wanna remove a common element from any one set

In [62]:
s1 ={1,2,3}
s2 = {2,3,4,5}

print(s1-s2)
print(s2-s1)

{1}
{4, 5}

In [63]:
s1 ={1,2,3,5,6}
s2 = {2,3,5,7,8}

print(s1-s2)
print(s2-s1)

{1, 6}
{8, 7}

**4.set.symmetric_difference()** 

- returns new set of the element that are either of sets, but not in both (eleminate the common one )

In [67]:
s1 ={1,2,3,5,6}
s2 = {2,3,5,7,8}

s1.symmetric_difference(s2)

{1, 6, 7, 8}

In [69]:
s1 ={1,2,3,5,6}
s2 = {2,3,5,7,8}
print(s1)
print(s2)

{1, 2, 3, 5, 6}
{2, 3, 5, 7, 8}

In [70]:
s1.union(b) - s1.intersection(s2)

{1, 4, 6, 7, 8}

**5.issubset()**
- if all values in set1 are present in set2 then set1 is called as sub set  and set2 is super set.
- each value should be there in second set.
- if one set is subset other is superset always. but if there is no sub set then superset is also not there.

In [71]:
s1 ={2,3,5}
s2 = {2,3,5,7,8} 

ans1 = s1.issubset(s2)
print(ans1) 

ans2 = s2.issubset(s1)
print(ans2)

True
False

**5.issuperset()**
- if all values in set1 are present in set2 then set1 is called as sub set  and set2 is super set.
- each value should be there in second set.
- if one set is subset other is superset always. but if there is no sub set then superset is also not there.

In [72]:
s1 ={2,3,5}
s2 = {2,3,5,7,8} 

ans1 = s1.issuperset(s2)
print(ans1) 

ans2 = s2.issuperset(s1)
print(ans2)

False
True